@{
    ViewData["Title"] = "SamMALsurium";
    Layout = "_LayoutInit";
}

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; min-height: 100vh;">
    <img src="~/img/brand/logo_large.png" alt="SamMALsurium Logo" style="max-width: 500px; margin-bottom: 30px;" />
    <h1 style="color: #B64D3F;">Nur noch wenige Tage ...</h1>
</div>
